/* hide scroll bar   */
::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

    *:focus {
        outline: none;
    }

input:focus, select:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}


.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
}

/* setting the position of navigation header fixed */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}


.side-left {
    display: flex;
}


#logo {
    font-size: 1.35em;
    margin-left: 5px;
    padding: 10px;
    color: #fff;
}
.btn-click {
    background-color: #ffc107;
    padding: 3px 30px;
    border-radius: 25px;
    border: none;
    margin-left: 5px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    list-style: none;
}

    .list li {
        padding: 10px 5px;
        font-size: 1.1em;
    }

        .list li a {
            text-decoration: none;
            color: #fff;
        }

/* body section */

main {
    margin-top: 46px;
}


/* main-container */
.main-container {
    display: flex;
    margin: 0 2px;
/*    background-color: antiquewhite;*/
    overflow: hidden;
    height: 98vh;
}

/* left-pane */
.patient-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
/*    background-color: aqua;*/
    display: flex;
    width: 180px;
    border: 1px black solid;
}

/* right-pane */
.card-container {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: aquamarine;
    border: 1px black solid;
}

/* separator */
.split-bar {
    flex-grow: 0;
    flex-shrink: 0;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #2196f3;
    width: 0.6rem;
    cursor: col-resize;
    margin: 0 0 0 auto;
}

/* alphabets list */




/* patient card container */
.list-container {
    width: 97%;
}

.patient-list {
    width: 95%;
    height: 450px;
    /* overflow: auto; */
}

    /* patient list */
    .patient-list li {
        /* border: 1px solid black; */
        padding: 0 10px;
        /* background-color: #eee; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

        .patient-list li :hover {
            overflow: visible;
        }

/* patient card */
.patient-card {
    width: 500px;
    height: 350px;
    background-color: #eee;
    box-shadow: 4px 5px 3px grey;
    margin: 3rem 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* media queries on small screens */
@media only screen and (max-width: 690px) {
    .patient-card {
        width: 80%;
    }

    @media only screen and (max-width: 576px) {
        .main-container {
            display: flex;
            flex-direction: column;
        }

        .list-container {
            width: 100%;
        }

        .card-container {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .patient-card {
            width: 70%;
            margin: 2rem 0 1rem 1rem;
        }

        .split-bar {
            margin: 0 0 0 0;
        }
    }
