/* hide scroll bar   */
::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

    *:focus {
        outline: none;
    }

input:focus, select:focus button:focus{
    outline: none !important;
}

body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
}


.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
}

/* setting the position of navigation header fixed */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
}


.side-left {
    display: flex;
}


#logo {
    font-size: 1.35em;
    margin-left: 5px;
    padding: 10px;
    color: #fff;
}
.btn-click {
    background-color: #ffc107;
    padding: 3px 30px;
    border-radius: 25px;
    border: none;
    margin-left: 5px;
}

    .btn-click:hover {
        background-color: #ff9800;
        color:#fff;
    }

    .vehicle{
    display:flex;
    justify-content:center;
    align-items:center;
}
    .vehicle input {
        margin: 0px 5px
    }
        .vehicle label {
            margin: 0px;
            color: #fff;
        }


ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.list {
    display: flex;
    list-style: none;
}

    .list li {
        padding: 10px 5px;
        font-size: 1em;
    }

        .list li a {
            text-decoration: none;
            color: #fff;
        }

        .list li a:hover{
            color:rgba(255,255,255,0.5);
        }

/* main-menu burger icon */
.menu-header {
    display: none;
}

.menu-header p{
    margin:0;
}

/* body section */

main {
    margin-top: 44px;
}


/* main-container */
.main-container {
    display: flex;
    margin: 0 2px;
/*    background-color: antiquewhite;*/
    overflow: hidden;
    height: 98vh;
}

/* left-pane */
.patient-container {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 15%;
/*    background-color: aqua;*/
    display: flex;
    width: 180px;
    border: 1px black solid;
}

/* right-pane */
.card-container {
    flex-grow: 1;
    flex-shrink: 0;
    background-color: aquamarine;
    border: 1px black solid;
}

/* separator */
.split-bar {
    flex-grow: 0;
    flex-shrink: 0;
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #2196f3;
    width: 0.6rem;
    cursor: col-resize;
    margin: 0 0 0 auto;
}

/* alphabets list */




/* patient card container */
.list-container {
    width: 97%;
}

.patient-list {
    width: 95%;
    height: 450px;
    /* overflow: auto; */
}

    /* patient list */
    .patient-list li {
        /* border: 1px solid black; */
        padding: 0 10px;
        /* background-color: #eee; */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

        .patient-list li :hover {
            overflow: visible;
        }

/* patient card */
.patient-card {
    width: 500px;
    height: 350px;
    background-color: #eee;
    box-shadow: 4px 5px 3px grey;
    margin: 3rem 0 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.active{
    background-color:red;
}
.toggle {
    width: 25px;
    height: 25px;
}

    .toggle i {
        position: absolute;
        right: 13px;
        top: 12px;
    }
    .toggle .close{
        color:#fff;
    }

    .toggle .close,
    .toggle .active i {
        display: none;
    }

    .toggle .active .close,
    .toggle .burger {
        display: block
    }

/*    //side bar*/

.sidebar-container {
    margin-top: 20px;
}

    .sidebar-container .top-list{
        margin-left:10px;
       
    }
.sidebar-container ul {
    margin-left: 20px;
    background-color: #000;
}
.first, .second{
    color:#fff;
    margin-right:5px;
    transition:transform 0.3s;
}

.rotate{
    transform:rotate(90deg);
}
.sub-menu , .sub-menu2{
    display:none;
}
.show{
    display:block;
}

/* media queries on small screens */
@media only screen and (max-width: 836px) {
    .nav-container {
        display: none;
    }

    .nav-header {
        display: table;
        width: 100%;
        background: black;
    }

    .list {
        flex-direction: column;
        justify-content: flex-start;
      
    }
        .list li {
            padding: 7px;
            font-size: 1.25em;
            margin: 0px 3px;
        }

    .menu-header {
        display: block;
        background: #272722;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: #fff;
        font-size: 22px;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .display {
        display: block;
        margin-top: 2.9em;
    }

    .side-left{
        flex-direction:column;
    }
    .vehicle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size:1.35em;
    }
    .menu-header p {
        margin: 0px 5px;
        font-size: 0.8em;
    }
    main {
        margin-top: 47px;
    }
    .btn-click {
       
        padding: 5px 0px;
        width: 100%;
        margin: 15px 0px;
    }
    .list li:hover {
        background-color: #03a9f4;
    }

    
    
}

    /* media queries on small screens */
    /*@media only screen and (max-width: 690px) {
        .patient-card {
            width: 80%;
        }

        @media only screen and (max-width: 576px) {
            .main-container {
                display: flex;
                flex-direction: column;
            }

            .list-container {
                width: 100%;
            }

            .card-container {
                display: flex;
                justify-content: center;
                text-align: center;
            }

            .patient-card {
                width: 70%;
                margin: 2rem 0 1rem 1rem;
            }

            .split-bar {
                margin: 0 0 0 0;
            }
        }*/
